<!-- 
  Assignment 1 & 2
  Author: Michelle Fajardo
  SN: 301097601
  SEC: 05
  DATE: OCT. 26, 2020
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!--MAIN-->
  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><i class="fas fa-arrow-circle-right"></i> <%= title %> </h1>
          <p><strong><%= description %></strong></p>
          <!--About-->
          <div style="text-align:justify;margin-left: 90px;"><small><%= details %></small></div>
          <img src="<%= image %> "style="margin-left: 400px; width: 250px;">
            <!--Service-->
            <div class="container" style="margin-left: 50px;">
              <small><%= list.a1 %></small></p>
              <p><small><%= list.a2 %></small></p>
              <p><small><%= list.a3 %></small></p>
              <p><small><%= list.a4 %></small></p>
            </div>
          <!--Contact Me-->
          <div class="container" style="margin-left: 50px;">
            <p><strong> <%= email %></strong></p>
            <p><strong> <%= page %></strong></p>
            <p><strong> <%= number %></strong></p>
          </div>
          <!--Projects-->
          <img src="<%= imageHome %>" style="width: 900px; margin-left: 100px;">
          
      </div>
    </div>
  </main>

<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>